@font-face
{
	font-family: Eroded;
	src: url(PressFeelingEroded.ttf);
}
html
{
	background-color:#FDFDFD;
}
body
{
  background-color:#FFF;
  width: 100%;
  margin: auto;
}
nav, header
{
	border-radius: 0px !important; 
	margin-bottom: 0px !important;
	background-color: #FFF;
}
header a
{
	color: ;
}
.major-nav{}
.icon-bar
{
	background-color: #222;
}
.active
{
	background-color: #f1f1f1;
}
.panel
{
	margin-top: 15px;
	border-color: #7acef4;
}
.panel-heading
{
	background-color: #CCC !important;
	border-color: #555 !important;
	color: #222 !important;
	height: 52px;
}
.panel-body
{
	white-space: pre-line;
	color: #EFE;
	min-height: 500px;
	background-color: #EEE;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius:2px;
}
h3
{
	padding: 0px;
	margin: 0px;
	display: inline-block;
}
.code
{
	background-color: #DDD;
	color: #222;
	white-space: pre-line;
	font-family: "Lucida Console", Monaco, monospace;
	overflow-x:scroll;
}
.files
{
	margin-bottom: 15px;
	padding-left: 0px;
}
.files li
{
	list-style: none;
	padding-left: 2%;
	overflow-x:hidden;
	cursor: pointer;
}
.files li:nth-child(odd)
{
	background-color: #DDD;
}

.nav-bot
{
	background-color: #0080ff;
	height: 5px;
	margin-bottom: 15px !important;

}
.sub-nav
{
	width: 100%;
	background-image:url('../images/back.png') !important;
	background-attachment: scroll;
	background-size: 40%;
	background-repeat: repeat;
	color: white;
}
.download
{
	margin-top: -5px;
	background-color: transparent;
	color:#428bca;
	display: inline-block;
	border-color: #428bca;
	float: right;
}
.login
{
	margin-left:30% !important;
	margin-right: 30% !important;
}
.login input
{
	width: 20%;
}
.alt-msg
{
	color: #EEE;
	text-align: center;
	margin: 20px;
	padding: 5px;
	width: auto;
	background-color: transparent;
	border-color: #DDD;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	box-shadow: inset 0px 0px 3px #222;
}
.alt-msg h1
{
	margin: 0px;
	padding: 0px !important;
}