@font-face
{
	font-family: Eroded;
	src: url(PressFeelingEroded.ttf);
}
html
{
  background-color:#0769AD;
}
body
{
  background-color:#0769AD;
  width: 100%;
  margin: auto;
}
nav
{
	border-radius: 0px !important; 
	border-color: #7acef4 !important;
	margin-bottom: 0px !important;
}
nav, .nav-pills, .nav-stacked
{
	background-color: #222 !important;
	border-top-width: 0px !important;
	border-color: #7acef4;
	border-radius: 0px;
	border-width: 1px;
	border-style: solid;
}
.nav-pills li a
{
	font-family: Eroded !important;
	font-size: 4.1em;
	color:white;
	margin-left: 10%;
	width: 80%;
	margin-bottom: 14px !important;
	margin-top: 14px !important;
}
.nav-pills li a:hover
{
	outline: none !important;
	background-color: transparent !important;
	font-size: 4.15em;
}
.nav-pills li a:nth-child(1)
{
	margin-top: 0px !important;
	border-top-right-radius: 0px !important;
}
.active>a
{
	width: calc(90% + 2px)!important;
	margin-right: -2px !important;
	border-radius: 0px !important;
	border-top-left-radius: 2px !important;
	border-bottom-left-radius:2px !important;
	border-width: 1px;
	border-style: solid;
	border-color: #7acef4 !important;
	border-right-color: #0769AD !important;
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(0, #06263B),
		color-stop(1, #0768AD)
	);
	background-image: -o-linear-gradient(right, #06263B 0%, #0768AD 100%);
	background-image: -moz-linear-gradient(right, #06263B 0%, #0768AD 100%);
	background-image: -webkit-linear-gradient(right, #06263B 0%, #0768AD 100%);
	background-image: -ms-linear-gradient(right, #06263B 0%, #0768AD 100%);
	background-image: linear-gradient(to right, #06263B 0%, #0768AD 100%);
}
.nav-side
{
	margin-left: 0px !important;
	margin-top: -1px !important;
	padding-left: 0px !important;
	margin-bottom: 0px;
}
.panel
{
	margin-top: 15px;
	border-color: #7acef4;
}
.panel-heading
{
	background-color: #333 !important;
	border-color: #555 !important;
	color: white !important;
}
.panel-body
{
	white-space: pre-line;
	color: #EFE;
	min-height: 500px;
	background-color: #333;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius:2px;
}
.navbar-brand
{
	margin-left: calc(2.333333333333332% + 15px);
}
.navbar-right
{
	margin-right: calc(8.333333333333332% + 15px);
}
.well
{
	position: absolute;
	bottom: 0px;
	width: 100%;
	margin: 0px;
	border-radius: 0px;
	border-width: 0px;
	border-top-width: 2px;
	border-style: solid;
	border-color: #333;
	background-color: #555;
	box-shadow: 0px 0px 12px #111;
}
h3
{
	padding: 0px;
	margin: 0px;
}
.code
{
	background-color: black;
	color: white;
	font-family: "Lucida Console", Monaco, monospace;
}

.files li
{
	list-style: none;
	padding-left: 2%;
	overflow:hidden;
}
.panel-body li:nth-child(odd)
{
	background-color: #444;
}
