@font-face
{
	font-family: Eroded;
	src: url(PressFeelingEroded.ttf);
}
html
{
	background-color:#FDFDFD;
	overflow-y:scroll;
}
body
{
  background-color:#FFF;
  width: 100%;
  margin: auto;
}
nav, header
{
	border-radius: 0px !important; 
	margin-bottom: 0px !important;
	background-color: #FFF;
}
header a
{
	text-align: center;
}
.major-nav{}
.icon-bar
{
	background-color: #222;
}
.active
{
	background-color: #f1f1f1;
}
.panel
{
	margin-top: 15px;
	border-color: #7acef4;
}
.panel-heading
{
	background-color: #CCC !important;
	border-color: #555 !important;
	color: #222 !important;
	height: 52px;
}
.panel-body
{
	white-space: pre-line;
	color: #EFE;
	min-height: 500px;
	background-color: #EEE;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius:2px;
}
h3
{
	padding: 0px;
	margin: 0px;
	display: inline-block;
}
.code
{
	background-color: #f7f7f7;
	color: #222;
	white-space: pre-line;
	font-family: "Lucida Console", Monaco, monospace;
	overflow-x:hidden;
	padding:0px;
	padding-bottom: 15px;
}
.files
{
	margin-bottom: 15px;
	padding-left: 0px;
	background-color: #f3f3f3;
	border-radius: 2px;
	padding: 14px;
	list-style: none;
	font-weight: 400;
	font-size: 1.3em;
}
.files li a
{
	cursor: pointer;
}
.files li:hover
{
	background-color: #144454;

}
.files li a:hover
{
	text-decoration: none;
		color:#333;
}
.files li:nth-child(odd)
{
	
}
empty
{
	text-align: center;
	font-size: 3.0em;
	white-space: normal;
	width: 100%;
	position: relative;
	display: block;
}
.nav-bot
{
	background-color: #0080ff;
	height: 5px;
	margin-bottom: 15px !important;

}
.sub-nav
{
	width: 100%;
	background-image:url('../images/back.png') !important;
	background-attachment: scroll;
	background-size: 40%;
	background-repeat: repeat;
	color: white;
}
.download
{
	margin-top: -5px;
	background-color: transparent;
	color:#428bca;
	display: inline-block;
	border-color: #428bca;
	float: right;
}
.login
{
	margin-left:30% !important;
	margin-right: 30% !important;
}

.alt-msg
{
	color: #EEE;
	text-align: center;
	margin: 20px;
	padding: 5px;
	width: auto;
	background-color: transparent;
	border-color: #DDD;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	box-shadow: inset 0px 0px 3px #222;
}
.alt-msg h1
{
	margin: 0px;
	padding: 0px !important;
	overflow: hidden;
}
small
{
	margin-top: 16px;
}


.class { }
.input
{
	height: 64px;
	width: 100%;
	margin: 128px;
}
.mask
{
	position: fixed;
	width: 100%;
	height:100%;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	background-color: rgba(0,0,0,0.4);
	z-index: 9;
}
td
{
	border-width: 0px !important;
}
.dropdown:hover
{
	background-color: #f1f1f1;
}
.login
{
	position: absolute;
	z-index: 10;
	padding: 2px;
	background-color: transparent;
	margin-top: -21px;
	width: 100%;
	margin-left: 0px!important;
	height: 42px;
}
.code .page-header, .code h4, small.pull-right
{
	margin: 0px;
	padding: 0px;
}
.code .page-header
{
	padding-bottom: 0px !important;
	border-color: #333 !important;
}

.line-code
{
	width: calc(100% - 50px);

}
.line-nums
{
	background-color: #333;
	color:#FFF;
	text-align: right;
	width: 50px;
}
.code-title
{
	background-color: #333;
	color:#fff;
	padding:5px;
}
.shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}
elBOX
{
	width: 16px;
	height: auto;
}
gr { color:green; }
bl { color:blue; }
rd { color:red; }
or { color:orange; }
pr { color:purple; }

